table {
  width: 100%;
  border-collapse: collapse;
  background-color: #333;
  color: #fff;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #444;
}

thead {
  background-color: #000;
}

thead th {
  color: #ffd700;
}

tbody tr:nth-child(even) {
  background-color: #444;
}

tbody tr:nth-child(odd) {
  background-color: #555;
}

a {
  color: #ffd700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #ffd700;
}

a:focus {
  outline: none;
}

div a {
  display: block;
  padding: 5px 0;
}

.input-container {
  position: relative;
  width: 80%;
  margin: 0 auto 10px auto;
}

.buscar {
  width: 100%;
  border-radius: 40px;
  height: 40px;
  padding: 0 40px 0 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: transparent;
  color: #fff;
  border: 2px solid #ffd700;
  box-sizing: border-box;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.buscar::placeholder {
  color: #aaa;
}

.buscar:focus {
  outline: none;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  fill: #ffd700;
}

.filtros {
  display: flex;
  text-align: center;
  align-content: center;
  margin-left: 15%;
}

.filtro-center {
  margin-left: 40%;
  margin-right: 30%;
  width: 40%;
  align-content: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.card {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}

.card h3 {
  margin-top: 0;
  font-family: 'Star Wars', sans-serif;
}

.planet-image {
  display: block;
  margin: auto;
  border-radius: 50%;
  transition: transform 0.5s ease;
}

.planet-image:hover {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .card-container {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 10px;
  }

  .card {
    width: 90%;
    padding: 10px;
    margin: 0;
  }

  .filtros {
    flex-direction: column;
    margin-left: 0;
    text-align: center;
  }

  .filtro-center {
    margin-left: 0;
    margin-right: 0;
    width: 70%;
  }

  .input-container {
    width: 90%;
    margin: auto;
  }

  .buscar {
    width: 100%;
    font-size: 12px;
  }
}
